#
# spike config.cfg
#

APP_PORT=5555
APP_HOST="127.0.0.1"

RULESET_HEADER = """
##########################################################################
#
# Naxsi-Rules 
# desc      : RULESET_DESC
# created   : RULESET_DATE
# by        : your name here
# download  : your url here
#
###########################################################################
"""

UPLOAD_FOLDER = "/tmp/"

