{% extends "misc/application.html" %}

{% block main %}

    <h2>Rule explainer</h2>
    <form action="{{ url_for('sandbox.explain_rule') }}" method="POST">
        <div class="row top-buffer1">
            <div class="col-md-1">
                <textarea name="rule" cols="90" rows="5" placeholder="Your shiny rule here">{{ rule }}</textarea>
            </div>
        </div>

        {% if rule_explaination %}
        <div class="row top-buffer">
            <div class="col-md-6">
                <blockquote>
                    {{ rule_explaination | safe }}
                </blockquote>
            </div>
        </div>
        {% endif %}

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <button type="submit" class="btn btn-info" name="explain_rule">Explain</button>
                    <button type="submit" class="btn btn-info" name="visualise_rule">Visualise the regexp</button>
                    <a href="https://github.com/nbs-system/naxsi/blob/master/naxsi_config/naxsi_core.rules" target='_blank' class="btn btn-default">Examples</a>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <h2>NXLog explainer</h2>
    <form action="{{ url_for('sandbox.explain_nxlog') }}" method="POST">
        <div class="row top-buffer1">
            <div class="col-md-1">
                <textarea name="nxlog" cols="90" rows="5" placeholder="Your shiny nxlog here">{{ nxlog }}</textarea>
            </div>
        </div>

        {% if nxlog_explaination %}
        <div class="row top-buffer">
            <div class="col-md-6">
                <blockquote>
                    {{ nxlog_explaination | safe }}
                </blockquote>
            </div>
        </div>
        {% endif %}

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <button type="submit" class="btn btn-info" name="log_explain">Explain</button>
                    <a href="https://github.com/nbs-system/naxsi/wiki/naxsilogs" target='_blank' class="btn btn-default">Examples</a>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <h2>Whitelist explainer</h2>
    <form action="{{ url_for('sandbox.explain_whitelist') }}" method="POST">
        <div class="row top-buffer1">
            <div class="col-md-1">
                <textarea name="whitelist" cols="90" rows="5" placeholder="Your shiny whitelist here">{{ whitelist }}</textarea>
            </div>
        </div>

        {% if whitelist_explaination %}
        <div class="row top-buffer">
            <div class="col-md-6">
                <blockquote>
                    {{ whitelist_explaination | safe }}
                </blockquote>
            </div>
        </div>
        {% endif %}

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <button type="submit" class="btn btn-info" name="whitelist_explain">Explain</button>
                </div>
            </div>
        </div>
    </form>


{% endblock %}

