{% extends "misc/application.html" %}

{% block main %}

    <h2>Whitelist generator</h2>
    <form action="{{ url_for('whitelists.generate') }}" method="POST">
        <div class="row top-buffer1">
            <div class="col-md-1">
                <textarea name="nxlogs" cols="120" rows="12" placeholder="Paste your nxlogs here">{{ nxlogs }}</textarea>
            </div>
        </div>

        {% if whitelist %}
        <div class="row top-buffer">
            <div class="col-md-6">
                <blockquote>
                    {{ whitelist | safe }}
                </blockquote>
            </div>
        </div>
        {% endif %}

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <button type="submit" class="btn btn-info" name="submit">Generate</button>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
