.dropdown-menu {
  white-space: nowrap;
  max-width: 300px;
  min-width: 220px;
 }

.top-buffer1 { margin-top:10px; }
.top-buffer2 { margin-top:20px; }

.navbar .divider-vertical {
height: 40px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}