{% extends "layouts/application.html" %}
{% block title %}Spike - Rulesets{% endblock %}

{% block main %}

    <h2>
        Naxsi - RuleSets
        <a href="{{ url_for('rulesets.plain') }}" title="View all files as plain" class="btn btn-success btn-lg">View all files
            as plain</a>
    </h2>
    <table class="table table-stripped">

        <tr>
            <td><h4>Name</h4></td>
            <td></td>
        </tr>

        {% for rs in rulesets %}
            <tr id="ruleset_{{ rs.id }}">
                <td valign="top">{{ rs.name }}</td>
                <td>
                    <a href="/rulesets/view/{{ rs.id }}" title="View File" class="btn btn-primary">View </a>
                    <a href="/rulesets/plain/{{ rs.id }}" title="View File Plain" class="btn btn-primary">Plain </a>
                    <a href="/rulesets/del/{{ rs.id }}" title="Delete File" class="btn btn-primary btn-warning">Delete </a>
                </td>
            </tr>
        {% endfor %}

        <form action="{{ url_for('rulesets.new') }}" method="POST">
            <tr>
                <td><input type="text" name="rname" placeholder="RULESET_DESC" required></td>
                <td>
                    <button type="submit" class="btn btn-success btn-lg">New Ruleset</button>
                </td>
            </tr>
        </form>

    </table>

{% endblock main %}

