{% extends "misc/application.html" %}
{% block title %}Import Naxsi-Rule{% endblock %}


{% block main %}

    <h2>Import Rules From File</h2>

    <form action="{{ url_for('rules.import_rules') }}" enctype="multipart/form-data" method="POST">

        <div class="row top-buffer1">
            <div class="col-md-1">
                <h5>Ruleset</h5>
            </div>

            <div class="col-md-1">
                    <select title="ruleset" name="ruleset">
                        {% for r in rulesets %}
                            <option value="{{ r.name }}"> {{ r.name }}
                        {% endfor %}
                    </select>
            </div>

            <div class="col-md-1">
              <a href="{{ url_for('rulesets.index') }}" class="btn btn-info btn-xs">new ruleset</a>
            </div>
        </div>
	
      <span class="btn btn-default btn-file">
	Upload rule file<input name="file" type="file" required>
      </span>
      
      <div class="row top-buffer1">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-lg">Import Rule(s)</button>
        </div>
      </div>
    </form>
    {% endblock %}
    
