{% extends "misc/application.html" %}
{% block title %}SPIKE! - WAF Rules Builder{% endblock %}

{% block main %}

    <h2>Naxsi - Rules ( {{ rules | length }} )</h2>
    <p><strong>{{ selection }}</strong></p>

    <hr>

    {% for rule in rules %}
        <div class="row top-buffer1">
            <div class="col-md-2">
                <h5>{{ rule.msg }}</h5>
            </div>

            <div class="col-md-3">
                <h5>{{ rule.detection }}</h5>
            </div>

            <div class="col-md-7">
                <div class="btn-toolbar" role="toolbar">
                    <a href="/rules/edit/{{ rule.sid }}" class="btn btn-info" title="Edit Rule">Edit</a>
                    <a href="/rules/view/{{ rule.sid }}" class="btn btn-default" title="View Rule">View</a>
                    <a href="/rules/explain/?rule={{ rule.sid }}" class="btn btn-default" title="View Rule">Explain</a>
                    <a href="/rules/plain/{{ rule.sid }}" class="btn btn-default" title="Plain Rule">Plain</a>
                    <a href="/rules/del/{{ rule.sid }}" class="btn btn-danger" title="View Rule">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock main %}

