{% extends "layouts/application.html" %}
{% block title %}Create Naxsi-Rule{% endblock %}


{% block main %}

    <h2>New Rule</h2>

    <form action="{{ url_for('rules.new') }}" method="POST">
        <table class="table table-condensed table-stripped">
            <tr>
                <td>SID :</td>
                <td>{{ latestn }}</td>
            </tr>
            <tr>
                <td>Msg :</td>
                <td><input type="text" name="msg" size="60" placeholder="Message" required></td>
            </tr>
            <tr>
                <td>Detect :</td>
                <td><input type="text" name="detection" size="60" placeholder="str|rx" required></td>
            </tr>
            <tr>
                <td>MZ:</td>
                <td>
                    {% for z in mz %}
                        <input type="checkbox" name="mz" value="{{ z.value }}"> {{ z.value }} <br>
                    {% endfor %}
                    <input type="checkbox" name="custom_mz" value="on">
                    <input type="text" name="custom_mz_val" placeholder="Custom MZ">
                </td>
            </tr>
            <tr>
                <td>Negative</td>
                <td><input type="checkbox" id="on" name="negative" value="checked">On</td>
            </tr>
            <tr>
                <td>Score</td>
                <td>
                    {% for s in score %}
                        <input type="text" name="score_{{ s.value }}" value="8" size="3">
                        <input type="checkbox" name="score" value="{{ s.value }}"> {{ s.value }}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Remarks</td>
                <td><textarea cols="60" rows="10" name="rmks"></textarea></td>
            </tr>
            <tr>
                <td>RuleSet</td>
                <td>
                    <select name="ruleset">
                        {% for r in rulesets %}
                            <option value="{{ r.file }}"> {{ r.file }}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success btn-lg">Save Rule</button></td>
            </tr>
        </table>
    </form>

{% endblock %}

