{% extends "layouts/application.html" %}


{% block main %}


    <form action="{{ url_for('rules.sandbox') }}" method="POST">
        <div class="row top-buffer1">
            <div class="col-md-1">
                <textarea name="rule" cols="90" rows="30" placeholder="You shiny rule here">{{ rule }}</textarea>
            </div>
        </div>

        {% if explaination %}
        <div class="row top-buffer">
            <div class="col-md-6">
                <blockquote>
                    {{ explaination | safe }}
                </blockquote>
            </div>
        </div>
        {% endif %}

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <button type="submit" class="btn btn-success" name="analyze">Analyze</button>
                    <button type="submit" class="btn btn-success" name="visualise">Visuzalise the regexp</button>
                    <a href="https://github.com/nbs-system/naxsi/blob/master/naxsi_config/naxsi_core.rules" target='_blank' class="btn btn-default">Examples</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

