{% extends "bootstrap/base.html" %}
{% block title %}SPIKE - WAF Rules Builder{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
{% endblock %}


{% block styles %}
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='appstyle.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}



{% block navbar %}

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Spike <img src="{{ url_for('static', filename='spike.png') }}"> </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
                <span class="sr-only">Side Navigation</span>
                <i class="icon-th-list"></i>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
                <span class="sr-only">Top Navigation</span>
                <i class="icon-align-justify"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-top">
            <div class="navbar-left">
                <ul class="nav navbar-nav navbar-left">
                    <li class="cdrops"><a href="/rules">View Rules</a></li>
                    <li class="cdrops"><a href="/rules/rulesets/">Rulesets</a></li>
                    <li class="cdrops"><a href="/rules/new">New rule</a></li>
                    <li class="cdrops"><a href="/backup">Download database</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav navbar-left">
                    <form class="navbar-form navbar-left" action="/rules/search/" method="get">
                        <div class="form-group">
                            <input type="text" name="s" size="20" value="{{ lsearch }}"
                                   placeholder="Keyword or rule id">
                            <input type="submit" class="btn btn-primary btn-sm" value="Go">

                        </div>
                    </form>
                    <li class="dropdown cdrop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin &amp; Docs<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/settings">Settings</a></li>
                            <li><a href="/settings/mz">Edit MatchingZones</a></li>
                            <li><a href="/settings/scores">Edit Scores</a></li>
                            <li><a href="/docs">Spike - Documentation</a></li>
                            <li><a href="/docs/writing_naxsi_sigs.md">Writing Naxsi rules</a></li>
                            <li><a href="https://github.com/nbs-system/spike" target="_blank">About Spike </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- /.navbar-collapse -->


{% endblock %}


{% block content %}

    <div class="main-content">
        <div class="row"><br><br><br></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% with errors = get_flashed_messages() %}
                    {% if errors %}
                        <ul class="alert alert-danger">
                            {%- for msg in errors %}
                                <li>{{ msg.category }} - {{ msg|safe }}</li>
                            {% endfor -%}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block main %}
                {% endblock %}
            </div>
        </div>

        <div class="row footer">
            <div class="container" align="center">
                <br><br>
                <hr>
                <br><br>
                © copyright 2011, 2012, 2013 <a href="https://www.mare-system.de/" target="_blank">mare system</a>, 2014
                <a href="https://8ack.de/corporate">8ack </a>
                <br>version: {{ version }}<br>
                logo: <a href="http://www.iconsdb.com/moth-green-icons/barking-dog-icon.html">IconDB</a>
                <br><br>
                <hr>
                <br><br>
            </div>
        </div>
    </div>

{% endblock content %}
