{% extends "layouts/application.html" %}
{% block title %}Settings{% endblock %}

{% block main %}

<h2>Settings</h2>
 <p><strong>{{ selection }}</strong></p>
 <form action="/settings/save" method="post">
  <table class="table table-condensed table-stripped">
  {% for s in settings %}

  <tr id="{{s.name}}">
    <td width="200px">{{s.name}}</td>
    <td><input type="text" name="{{s.name}}" value="{{s.value}}"></td>
  </tr>
  
  
  
  {% endfor %}
  
  <tr>
    <td></td>
    <td><button class="btn btn-success btn-lg" type="submit">Save</button></td>
  </tr>
  </table>

  </form>
{% endblock main %}

