{% extends "layouts/application.html" %}
{% block title %}Edit MatchingZones{% endblock %}

{% block main %}

    <h2>MatchingZones</h2>
    <table class="table table-condensed table-stripped">
        <tr>
            <form action="{{ url_for('settings.mz_new') }}" method="POST">
                <td>
                    <input type="text" name="nmz" size="45" value="" placeholder="New MZ">
                </td>
                <td>
                    <button class="btn btn-success btn-sm" type="submit">New</button>
                </td>
            </form>
        </tr>

        {% for m in mz %}
            <tr id="{{ m.id }}">
                <td valign="top">{{ m.value }}</td>
                <td>
                    <form action="{{ url_for('settings.mz_del') }}" method="POST">
                        <input type="hidden" name="mzid" value="{{ m.id }}">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock main %}

