{% extends "layouts/application.html" %}
{% block title %} SQL - Editor{% endblock %}

{% block main %}

<h2>SQL -  Editor <a href="blash" class="btn btn-primary btn-sm">Help</a></h2>
  <table class="table table-condensed table-stripped">
  <tr>
    <form  action="/settings/sql" method="POST">
    <td>
      <textarea name="sql" placeholder="select * from naxsi_rules" cols="100" rows="6">{{sqlval}}</textarea>
    </td>
    <td>
      <button class="btn btn-success btn-sm" type="submit">Execute SQL</button> &nbsp;
      
    </td>
    </form>
  </tr>

  </table>

<hr>

<h2>Result ({{ res | length }})</h2>


{% for r in res %}
<pre>
{% for ix in r %}{{ ix }} {% endfor %}
</pre>
{% endfor %}


{% endblock main %}

